apiVersion: v1
stringData:
  # Example: {"auths":{"https://index.docker.io/v1/":{"auth":"<BASE64_USER_PASS>"}}}
  .dockerconfigjson: "<YOUR_DOCKER_CONFIG_JSON>"
kind: Secret
metadata:
  name: dockerhub-config
  namespace: arc-runners
type: kubernetes.io/dockerconfigjson
